$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

$orange: #ff5700;
$orangered: #ff4500;
$upvote: #ff8b60;
$neutral: #c6c6c6;
$downvote: #9494ff;
$darkblue: #336699;
$lightblue: lighten($darkblue,25);
$light_bg: #eff7ff;
$header: #cee3f8;
$ui_text: #336699;
$header: #cee3f8;

body {
	// background-color: desaturate($light_bg,100);
	background-color: $darkblue;
}

.header {
	background-color: #18416B;
	color: $ui_text;
	margin-bottom: 30px;
	padding: 1em;
	.col-sm-11 {
		padding-left: 30px;
	}
	.logo {
		color: $orange;
		font-size: 25px;
		font-weight: bold;
		text-shadow: 1px 2px 1px rgba(25,25,25,0.75);
	}
}

.post-wrap {
	margin: 0 0 30px 0;
}

.post {
	border: 0;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	color: #000;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 0;
	&.active {
		border-color: $orange;
		transform: scale(1);
	}
	.panel-heading {
		background-color: #FFF;
		border: 0;
	    color: $darkblue;
	}
}

.post-link, .post-link:hover {
	color: $ui_text;
	text-decoration: none;
}

.page-header {
	margin-top: 0;
	h1 {
		margin-top: 0;
	}
}

.meta {
	background-color: $darkblue;
	color: #FFF;
	clear: both;
	display: inline-block;
	font-size: 14px;
	line-height: 1em;
	padding: 0 0 10px 0;
	width: 100%;
	.score {
		font-size: 16px;
		font-weight: bold;
		margin-right: 10px;
	}
}

.side {
	padding-right: 0;
}

.upvote, .downvote {
	color: $lightblue;
	cursor: pointer;
	font-size: 25px;
	&:hover {
		color: #FFF;
	}
}

a.sub-link, a.sub-link:visited { color: $neutral; font-style: italic; text-decoration: none; }
a.sub-link:hover { color: $neutral; }

h4.panel-title {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	.post-link {
		color: #000;
		&:hover {
			color: $darkblue;
		}
	}
}

.panel-body {
	border-top: 1px solid $lightblue;
	padding-top: 10px;
	padding-bottom: 10px;
	.img-responsive {
		margin: 0 auto;
	}
	pre {
		margin: 10px 0;
		height: 100px;
		overflow: scroll;
	}
}

.subreddit {
	margin-left: 10px;
}

.below {
	color: $neutral;
	font-size: 12px;
	padding-top: 10px;
	a {
		color: inherit;
		text-decoration: underline;
		&:hover {
			color: #FFF;
			text-decoration: none;
		}
	}
}

.thumb-link {
	display: block;
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
	.media-object {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}

.media-left {
	padding-right: 1.5em;
}

.post-img {
	height: auto;
	width: 100%;
	max-width: 100%;
}

.full-preview {
	margin-top: 1em;
	text-align: center;
	// height: 200px;
	.img-responsive {
		margin: 0 auto;
		max-height: 250vh;
	}
	p {
		text-align: left;
	}
}

.well.well-sm {
	background-color: #FFF;
	word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 760px;
  }
  .post {
	  min-height: 70px;
  }
}
