<div infinite-scroll="topPosts.nextPage()" infinite-scroll-disabled='topPosts.busy' infinite-scroll-distance='1'>
	<div class="row post-wrap" ng-repeat="post in topPosts.items" id="{{ post.name }}">
		<div class="col-sm-11 col-sm-offset-1">
				<div class="meta">
					<div class="voting pull-left">
						<span class="score">{{ post.score }}</span>
					</div>
					<small class="subreddit pull-right"><a href="#/r/{{ post.subreddit }}" class="sub-link">r/{{ post.subreddit }}</a></small>
				</div>
		</div>
		<div class="col-sm-1 text-right side">
			<a ng-click="upvote(post.name)" class="upvote"><i class="fa fa-arrow-up"></i></a>
			<a ng-click="" class="downvote"><i class="fa fa-arrow-down"></i></a>
		</div>
		<div class="col-sm-11">
			<div class="panel panel-default post" id="{{ post.name }}">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="https://www.reddit.com{{ post.permalink }}" class="post-link" target="_blank">
							{{ post.title }}
							<span class="link pull-right" ng-show="post.post_hint == 'link'"><i class="fa fa-link"></i></span>
						</a>
					</h4>
				</div>
				<div class="panel-body" ng-hide="!post.selftext && !post.thumbnail">
					<post-body></post-body>
				</div>
			</div>
		</div>
		<div class="col-sm-11 col-sm-offset-1 below">
			<span class="pull-left">{{ (post.created_utc * 1000) | relativeDate }}</span>
			<span class="pull-right"><i class="fa fa-user"></i> {{ post.author }} - <a href="#" class="link-domain">{{ post.domain }}</a></span>
		</div>
	</div>
</div>
