<div class="row">
	<div class="col-sm-12" infinite-scroll="topPosts.nextPage()" infinite-scroll-disabled='topPosts.busy' infinite-scroll-distance='1'>
		<div class="post-wrap" ng-repeat="post in topPosts.items">
			<div class="meta">
				<div class="voting pull-left">
					<span class="score">{{ post.score }}</span>
					<a ng-click="" class="upvote"><i class="fa fa-arrow-circle-up"></i></a>
					<a ng-click="" class="downvote"><i class="fa fa-arrow-circle-down"></i></a>
				</div>
				<small class="subreddit pull-right"><a href="#/r/{{ post.subreddit }}" class="sub-link">r/{{ post.subreddit }}</a></small>
			</div>
			<div class="panel panel-default post" ng-mouseover="hover = true" ng-mouseout="hover = false" id="{{ post.name }}">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="https://www.reddit.com{{ post.permalink }}" class="post-link" target="_blank">
							{{ post.title }}
							<span class="link pull-right" ng-show="!post.selftext && !post.thumbnail"><i class="fa fa-link"></i></span>
						</a>
					</h4>
				</div>
				<div class="panel-body" ng-hide="!post.selftext && !post.thumbnail">
					<post-body></post-body>
				</div>
			</div>
		</div>
	</div>
</div>