<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>r/{{ subName }}</h1>
		</div>
		<div class="panel panel-default" ng-repeat="post in subreddit" ng-class="post.data.stickied ? 'panel-info' : ''">
			<div class="panel-heading">
				<h4 class="panel-title clearfix">
				<div class="well well-sm pull-left score">{{ post.data.score }}</div>
				<div class="well well-sm pull-right comments">{{ post.data.num_comments }}</div>
					<a href="#/p/{{ post.data.name }}" class="post-link">
						{{ post.data.title }}
					</a>
					<small>r/{{ post.data.subreddit }}</small>
				</h4>
			</div>
			<div class="panel-body" ng-hide="!post.data.thumbnail && !post.data.selftext">
				<div class="post-thumbnail" ng-show="{{ post.data.thumbnail }}">
					<img src="{{ post.data.thumbnail }}" class="img-thumbnail">
				</div>
				<div class="post-text" ng-show="{{ post.data.source_url }}">
					<p>{{ post.data.selftext }}</p>
				</div>
			</div>
		</a>
		</div>
	</div>
</div>